
<div class="row">
    <div class="col-md-7">
    	<%= youtube_embed(locals[:video_link]).html_safe %>
    </div>
	<div class="col-md-5">
		<h2>Subject: <%= locals[:title] %></h2>
		<h3>Category: <%= locals[:category] %></h3>
		<p>Project summary: <%= locals[:summary] %></p>

		<a class="btn btn-primary showPopUpButton">
			Connect
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

<hr>
<script>
var pop = '<div class="container question-assign"><div class="col-md-5"><form class="form-inline" role="form"><div class="radio">Proposed time:<input type="text" name="At"/><br><button type="submit" value=" Send" class="btn btn-success" id="submit">Send</button></form></div></div>'
var popUpList = $(pop);

$('.showPopUpButton').click(function() {
    popUpList.dialog();
});

var cla = '<div class="input-group date" id="datetimepicker2"><input type="text" class="form-control" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>'
</script>


