<p id="notice"><%= notice %></p>

<h1>Founders that need assistance</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
        <%= render "question_item", locals: question %>
    <% end %>
  </tbody>
</table>

<br>
