

# general
.idea
.DS_Store
.ruby-version

# Ignore bundler config.
/.bundle


# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
log/*

# ZEUS
zeus.json
custom_plan.rb
