

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mentees.co
                <small>helping founders and mentors connect</small>
            </h1>
            <p>We are a platform where founders can find experienced mentors
in different categories to help them face a challenge </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Some of our Mentors</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://s3.amazonaws.com/uploads.hipchat.com/28086/195583/yaz3cTvBAetQ7C7/rsz_11163783_10154140339963738_3366358594947573469_o.jpg" alt="">
            <h3>
                Guy Katsovich
                <small>Sales, Marketing, Buisness Development</small>
            </h3>
            <p>Managing Director of the 8200 EISP Accelerator </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://s3.amazonaws.com/uploads.hipchat.com/28086/195583/UIeRpnzoOOl7gnE/rsz_screen_shot_2016-03-24_at_92225_pm.png" alt="">
            <h3>Omri Moran
                <small>Biz Dev, Sales</small>
            </h3>
            <p>Co-founder and CEO at a startup which is currently in stealth mode.
Mentor at Sigma Labs and few other acceleration platforms.
Early stage angel investor.</p>
        </div>
    </div>

    <hr>






